<div class="main">
	<div style="flex:0.2">
		<div>Select Your first Color Band:</div>
		<md-radio-group ng-model="main.bandA" ng-change="main.getResult()">
			<md-radio-button value="Black">Black</md-radio-button>
			<md-radio-button value="Brown">Brown</md-radio-button>
			<md-radio-button value="Red">Red</md-radio-button>
			<md-radio-button value="Orange">Orange</md-radio-button>
			<md-radio-button value="Yellow">Yellow</md-radio-button>
			<md-radio-button value="Green">Green</md-radio-button>
			<md-radio-button value="Blue">Blue</md-radio-button>
			<md-radio-button value="Violet">Violet</md-radio-button>
			<md-radio-button value="Gray">Gray</md-radio-button>
			<md-radio-button value="White">White</md-radio-button>
    	</md-radio-group>

	</div>
	<div style="flex:0.2">
		<div>Select Your second Color Band:</div>
		<md-radio-group ng-model="main.bandB" ng-change="main.getResult()">
	      	<md-radio-button value="Black">Black</md-radio-button>
			<md-radio-button value="Brown">Brown</md-radio-button>
			<md-radio-button value="Red">Red</md-radio-button>
			<md-radio-button value="Orange">Orange</md-radio-button>
			<md-radio-button value="Yellow">Yellow</md-radio-button>
			<md-radio-button value="Green">Green</md-radio-button>
			<md-radio-button value="Blue">Blue</md-radio-button>
			<md-radio-button value="Violet">Violet</md-radio-button>
			<md-radio-button value="Gray">Gray</md-radio-button>
			<md-radio-button value="White">White</md-radio-button>
    	</md-radio-group>
	</div>
	<div style="flex:0.2">
		<div>Select Your third Color Band:</div>
		<md-radio-group ng-model="main.bandC" ng-change="main.getResult()">
	      	<md-radio-button value="Black">Black</md-radio-button>
			<md-radio-button value="Brown">Brown</md-radio-button>
			<md-radio-button value="Red">Red</md-radio-button>
			<md-radio-button value="Orange">Orange</md-radio-button>
			<md-radio-button value="Yellow">Yellow</md-radio-button>
			<md-radio-button value="Green">Green</md-radio-button>
			<md-radio-button value="Blue">Blue</md-radio-button>
			<md-radio-button value="Violet">Violet</md-radio-button>
			<md-radio-button value="Gray">Gray</md-radio-button>
			<md-radio-button value="White">White</md-radio-button>
			<md-radio-button value="Gold">Gold</md-radio-button>
			<md-radio-button value="Silver">Silver</md-radio-button>
    	</md-radio-group>
	</div>
	<div style="flex:0.2">
		<div>Select Your fourth Color Band:</div>
		<md-radio-group ng-model="main.bandD" ng-change="main.getResult()">
	      	<md-radio-button value="Black">Black</md-radio-button>
			<md-radio-button value="Brown">Brown</md-radio-button>
			<md-radio-button value="Red">Red</md-radio-button>
			<md-radio-button value="Yellow">Yellow</md-radio-button>
			<md-radio-button value="Green">Green</md-radio-button>
			<md-radio-button value="Blue">Blue</md-radio-button>
			<md-radio-button value="Violet">Violet</md-radio-button>
			<md-radio-button value="Gray">Gray</md-radio-button>
			<md-radio-button value="Gold">Gold</md-radio-button>
			<md-radio-button value="Silver">Silver</md-radio-button>
			<md-radio-button value="None">None</md-radio-button>
    	</md-radio-group>
	</div>
	<div style="flex:0.2">Result:
		<div>{{main.result}}</div>
	</div>
</div>